<?

  # This is an example configuration that can be used with the vagrant instance; simply remove .example from the filename
    
  $user="dmap";
  $password="changeme";
  $database="dmillar_cartography";
  $dbestablished = mysql_connect('localhost',$user,$password);
  @mysql_select_db($database) or die( "Unable to select database");
?>
